In [5]:
import pandas as pd # as means alies create krta h shart name
import numpy as np
s= pd.Series([1,2,3,4,5,6,np.nan,8,9,10])
print(s)

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64

In [9]:
d=pd.date_range('20200301',periods=10)
print(d)

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [23]:
df1 = pd.DataFrame(np.random.randn(10, 4), index=d,columns=list('ABCD'))
print(df1)

                   A         B         C         D
2020-03-01  0.604836 -2.231294 -0.121552 -0.391039
2020-03-02  0.964402  0.426059 -1.012463 -0.797006
2020-03-03 -0.808687 -0.047743  2.084764  0.632584
2020-03-04 -0.008034  0.711334  1.121357  0.065479
2020-03-05 -0.807125 -2.359883  1.150931 -1.526720
2020-03-06  2.516927  0.614054  0.298200 -0.548528
2020-03-07 -1.280968  2.241466 -0.130124  0.367332
2020-03-08  0.247599 -1.304446  1.168711 -0.114762
2020-03-09 -1.419793 -0.411185 -0.551715 -0.096710
2020-03-10 -0.402847 -1.054150  0.142988 -1.259576

In [116]:
df_main = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))
print(df_main)

          A         B         C         D
0 -1.756750 -0.775465  0.198924 -1.478784
1  1.374600  0.966752  0.472152 -0.947068
2  0.747595  0.766669  0.741266 -0.685874
3 -0.857149  0.973666  0.970833  0.619792
4  1.042753  0.087664  0.128215 -0.192963
5  0.082988  1.834174  0.930885  0.141114
6 -1.148478 -2.852697  1.100225 -0.844981
7 -0.782858 -1.609728 -0.824325 -0.574931
8  0.758585  0.124272 -0.066394  0.727096
9  1.501636 -0.250793  1.203646  0.274656

In [49]:
#Creating a DataFrame by passing a dict of objects that can be converted to series-like.

df2=pd.DataFrame({'A':1.,
                'B':pd.Timestamp('20130102'),
                'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                'D':np.array([3]*4,dtype='int32'),
                'E':pd.Categorical(["test","train" ,"test", "train"]),
                'F':'Foo'})
print(df2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  Foo
1  1.0 2013-01-02  1.0  3  train  Foo
2  1.0 2013-01-02  1.0  3   test  Foo
3  1.0 2013-01-02  1.0  3  train  Foo

In [50]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [33]:
df2.A                  df2.bool
df2.abs                df2.boxplot
df2.add                df2.C
df2.add_prefix         df2.clip
df2.add_suffix         df2.clip_lower
df2.align              df2.clip_upper
df2.all                df2.columns
df2.any                df2.combine
df2.append             df2.combine_first
df2.apply              df2.consolidate
df2.applymap
df2.D

SyntaxError: invalid syntax (<ipython-input-33-a08075bfc984>, line 1)

In [117]:
df_main.head()

          A         B         C         D
0 -1.756750 -0.775465  0.198924 -1.478784
1  1.374600  0.966752  0.472152 -0.947068
2  0.747595  0.766669  0.741266 -0.685874
3 -0.857149  0.973666  0.970833  0.619792
4  1.042753  0.087664  0.128215 -0.192963

In [118]:
df_main.tail()

          A         B         C         D
5  0.082988  1.834174  0.930885  0.141114
6 -1.148478 -2.852697  1.100225 -0.844981
7 -0.782858 -1.609728 -0.824325 -0.574931
8  0.758585  0.124272 -0.066394  0.727096
9  1.501636 -0.250793  1.203646  0.274656

In [119]:
df_main.index

RangeIndex(start=0, stop=10, step=1)

In [120]:
df1.index

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [121]:
#: NumPy arrays have one dtype for the entire array, while pandas DataFrames have one dtype per column
df_main.to_numpy()

array([[-1.75675031, -0.7754646 ,  0.19892373, -1.47878397],
       [ 1.37460006,  0.96675205,  0.47215205, -0.9470685 ],
       [ 0.7475955 ,  0.76666936,  0.74126647, -0.68587419],
       [-0.85714925,  0.97366584,  0.97083331,  0.61979171],
       [ 1.04275307,  0.08766386,  0.12821488, -0.19296306],
       [ 0.08298832,  1.83417393,  0.93088528,  0.14111373],
       [-1.14847837, -2.85269713,  1.10022544, -0.844981  ],
       [-0.78285812, -1.60972782, -0.82432482, -0.57493079],
       [ 0.7585853 ,  0.12427236, -0.06639427,  0.72709635],
       [ 1.5016355 , -0.25079272,  1.20364553,  0.27465624]])

In [122]:
df_main.describe()   #describe() shows a quick statistic summary of your data:

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.096292  -0.073548   0.485543  -0.296194
std     1.156289   1.382309   0.634485   0.727766
min    -1.756750  -2.852697  -0.824325  -1.478784
25%    -0.838576  -0.644297   0.145892  -0.805204
50%     0.415292   0.105968   0.606709  -0.383947
75%     0.971711   0.916731   0.960846   0.241271
max     1.501636   1.834174   1.203646   0.727096

In [123]:
df_main.T  # Transposing your data:

,0,1,2,3,4,5,6,7,8,9
A,-1.756750,1.374600,0.747595,-0.857149,1.042753,0.082988,-1.148478,-0.782858,0.758585,1.501636
B,-0.775465,0.966752,0.766669,0.973666,0.087664,1.834174,-2.852697,-1.609728,0.124272,-0.250793
C,0.198924,0.472152,0.741266,0.970833,0.128215,0.930885,1.100225,-0.824325,-0.066394,1.203646
D,-1.478784,-0.947068,-0.685874,0.619792,-0.192963,0.141114,-0.844981,-0.574931,0.727096,0.274656

In [124]:
df_main.sort_index(axis=0, ascending=False)   #Sorting by an axis:

          A         B         C         D
9  1.501636 -0.250793  1.203646  0.274656
8  0.758585  0.124272 -0.066394  0.727096
7 -0.782858 -1.609728 -0.824325 -0.574931
6 -1.148478 -2.852697  1.100225 -0.844981
5  0.082988  1.834174  0.930885  0.141114
4  1.042753  0.087664  0.128215 -0.192963
3 -0.857149  0.973666  0.970833  0.619792
2  0.747595  0.766669  0.741266 -0.685874
1  1.374600  0.966752  0.472152 -0.947068
0 -1.756750 -0.775465  0.198924 -1.478784

In [125]:
df_main.sort_values(by='A')  #Sorting by values:

          A         B         C         D
0 -1.756750 -0.775465  0.198924 -1.478784
6 -1.148478 -2.852697  1.100225 -0.844981
3 -0.857149  0.973666  0.970833  0.619792
7 -0.782858 -1.609728 -0.824325 -0.574931
5  0.082988  1.834174  0.930885  0.141114
2  0.747595  0.766669  0.741266 -0.685874
8  0.758585  0.124272 -0.066394  0.727096
4  1.042753  0.087664  0.128215 -0.192963
1  1.374600  0.966752  0.472152 -0.947068
9  1.501636 -0.250793  1.203646  0.274656

# selection

In [ ]:
#See the indexing documentation Indexing and Selecting Data and MultiIndex / Advanced Indexing.

In [126]:
 df_main['A']

0   -1.756750
1    1.374600
2    0.747595
3   -0.857149
4    1.042753
5    0.082988
6   -1.148478
7   -0.782858
8    0.758585
9    1.501636
Name: A, dtype: float64

In [127]:
df_main[0:3]

          A         B         C         D
0 -1.756750 -0.775465  0.198924 -1.478784
1  1.374600  0.966752  0.472152 -0.947068
2  0.747595  0.766669  0.741266 -0.685874

In [86]:
ss=[i for i in range(10)]
ss

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#Selection by labelÂ¶

In [83]:
s= pd.Series([i for i in range(10)])
df_with_outindex.loc[s[0]]

A    0.645694
B    0.737903
C    0.244867
D   -0.875661
Name: 0, dtype: float64

# Selecting on a multi-axis by label:

In [98]:
df3=df_withindex.loc[d[0]:d[3], ['A', 'B','C']]
print(df3)

                   A         B         C
2020-03-01  0.604836 -2.231294 -0.121552
2020-03-02  0.964402  0.426059 -1.012463
2020-03-03 -0.808687 -0.047743  2.084764
2020-03-04 -0.008034  0.711334  1.121357

In [94]:
df3.to_dict()

{'A': {Timestamp('2020-03-01 00:00:00', freq='D'): 0.6048357913725693,
  Timestamp('2020-03-02 00:00:00', freq='D'): 0.964402237483277,
  Timestamp('2020-03-03 00:00:00', freq='D'): -0.8086874881872732},
 'B': {Timestamp('2020-03-01 00:00:00', freq='D'): -2.2312944930208003,
  Timestamp('2020-03-02 00:00:00', freq='D'): 0.42605902657404504,
  Timestamp('2020-03-03 00:00:00', freq='D'): -0.047743182104786015},
 'C': {Timestamp('2020-03-01 00:00:00', freq='D'): -0.12155188923801999,
  Timestamp('2020-03-02 00:00:00', freq='D'): -1.0124630209020802,
  Timestamp('2020-03-03 00:00:00', freq='D'): 2.0847644596210038}}

# Selection by position

In [103]:
df3.iloc[3]

A   -0.008034
B    0.711334
C    1.121357
Name: 2020-03-04 00:00:00, dtype: float64

In [108]:
df3.iloc[3]['A']  # row then column

-0.008033632935722209

In [111]:
 df3.iloc[0:3,0:1]

                   A
2020-03-01  0.604836
2020-03-02  0.964402
2020-03-03 -0.808687