In [1]:
mydict={}
print(mydict)

{}

# DICTIONARY ,UNORDERED

In [2]:
mylist=[]
print(mylist)

[]

In [6]:
mydi={"name":"swati","age":26}
print(mydi["name"])

swati

In [8]:
print(mydi.get("age"))

26

In [9]:
mydi['age']=27

In [10]:
print(mydi)

{'name': 'swati', 'age': 27}

In [13]:
mydi["address"]="kota"

In [14]:
print(mydi)

{'name': 'swati', 'age': 27, 'address': 'kota'}

In [17]:
print(mydi.pop("age"))

27

In [18]:
print(mydic)

{'name': 'swati', 'address': 'kota'}

In [20]:
print(mydi.popitem())

('address', 'kota')

In [21]:
print(mydi)

{'name': 'swati'}

In [58]:
print('swati' in mydi)

False

In [27]:
marks = {}.fromkeys(['Math','English','Science'], 0)


print(marks)

{'Math': 0, 'English': 0, 'Science': 0}

In [33]:
for item in marks.items():
    print(item)

('Math', 0)
('English', 0)
('Science', 0)

In [34]:
list(sorted(marks.keys()))

['English', 'Math', 'Science']

In [24]:
marks = {}.fromkeys(['Math','English','Science'], 0)


print(marks)

for item in marks.items():
    print(item)

# Output: ['English', 'Math', 'Science']
list(sorted(marks.keys()))

{'Math': 0, 'English': 0, 'Science': 0}
('Math', 0)
('English', 0)
('Science', 0)

['English', 'Math', 'Science']

In [31]:
marks1 = {}.formkeys(['math','eng','sci'], 0)
print(marks1)

AttributeError: 'dict' object has no attribute 'formkeys'

# dictionary Comprihencen

In [36]:
 
squares = {1:1 ,2:4, 3:9, 4:16, 5:25}
squares={x:x*x for x in range(6)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [37]:
evendict={x:x*x for x in range(6) if x%2==0}
print(evendict)

{0: 0, 2: 4, 4: 16}

In [40]:
odddict={x:x*x for x in range(11) if x%2==1}
print(odddict)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [41]:
print(len(odddict))

5

# Tuple ordered
#A tuple is created by placing all the items (elements) inside parentheses (), separated by commas. The parentheses are optional, however, it is a good practice to use them.

A tuple can have any number of items and they may be of different types (integer, float, list, string, etc.).

In [43]:
my_tuple=('p','e','r','y','u')
print(my_tuple[1])

e

In [48]:
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(n_tuple[0][3])
print(n_tuple[1][2])
print(n_tuple[2][-1])

s
6
3

In [49]:
print((1, 2, 3) + (4, 5, 6))

(1, 2, 3, 4, 5, 6)

In [50]:
print(("Repeat",) * 3)

('Repeat', 'Repeat', 'Repeat')

In [51]:
del n_tuple[3]

TypeError: 'tuple' object doesn't support item deletion

In [52]:
print(n_tuple.count('p'))

0

In [53]:
print(my_tuple.count('p'))

1

In [54]:
print('a' in my_tuple)

False

In [59]:
# Using a for loop to iterate through a tuple
for name in ('John', 'Kate'):
    print("Hello", name)

Hello John
Hello Kate

We generally use tuples for heterogeneous (different) data types and lists for homogeneous (similar) data types.
Since tuples are immutable, iterating through a tuple is faster than with list. So there is a slight performance boost.
Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.

In [61]:
str = 'cold'

# enumerate() various built-in functions that work with sequence, works with string as well.function returns an enumerate object. It contains the index and value of all the items in the string as pairs. This can be useful for iteration.
list_enumerate = list(enumerate(str))
print('list(enumerate(str) = ', list_enumerate)

list(enumerate(str) =  [(0, 'c'), (1, 'o'), (2, 'l'), (3, 'd')]

In [62]:
print('len(str) = ', len(str))

len(str) =  4

# set ,unordered
A set is an unordered collection of items. Every element is unique (no duplicates) and must be immutable (which cannot be changed).

However, the set itself is mutable. We can add or remove items from it.

Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

In [69]:
my_set = {1, 2, 3}
print(my_set)
my_set.discard(2)
print(my_set)

{1, 2, 3}
{1, 3}

In [64]:
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{'Hello', 1.0, (1, 2, 3)}

In [65]:
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [68]:
my_set1 = {1,3}
print(my_set1)
my_set1.add(2)
print(my_set1)

{1, 3}
{1, 2, 3}